<div
  class="fotos-entry text-center"
  style="background-image: url({{ .image }});"
>
  <i class="fas fa-search-plus" id="enlarge-icon"></i>
  <h4 class="title" id="fotos-title">{{ .title }}</h4>
  <div class="caption hidden col-lg-6 text-left" id="caption">
    <h4>{{ .title }}</h4>
    <p>{{ .summary | markdownify }}</p>
  </div>
</div>
