<div class="container-fluid anchor pb-5 fotos-section" id="{{ replace (lower .section.name) " " "-" }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}
  <div class="container">
    <div class="row" id="gallery">
    </div>
  </div>
  <!-- achievements-holder holds achievement-entry -->
  <div class="d-none" id="achievements-holder">
    {{ range .achievements }}
      {{ partial "sections/fotos/entry.html" . }}
    {{ end }}
  </div>
</div>
