<div class="container anchor p-lg-5 honing-section" id="{{ replace (lower .section.name) " " "-" }}">
  <div class="row pt-sm-1 pt-md-4 align-self-center">
    <!-- summary -->
    <h3 class="p-1">{{ site.Params.author.name }}</h3>
      {{ if .designation }}
      <h5 class="p-1">
        {{ .designation }}
        {{ if .company }}
          uit <a href="{{ .company.url }}">{{ .company.name }}</a>
        {{ end }}
      </h5>
      {{ end }}
      <p class="p-1 text-justify">
        {{ .summary | markdownify }}
      </p>
      <div class="text-container ml-auto">
        <ul class="social-link d-flex">
          {{ range .socialLinks }}
          <li>
            {{ if eq .name "Email" }}
              <a href="mailto:{{ .url }}" target="/"><i class="{{ .icon }}"></i></a>
            {{ else }}
              <a href="{{ .url }}" target="/"><i class="{{ .icon }}"></i></a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    <!-- soft skills circular-progressbar -->

  </div>
</div>
