<div class="container anchor p-lg-5 opvang-section" id="{{ replace (lower .section.name) " " "-" }}">
  <div class="row pt-sm-2 pt-md-4 align-self-center">
    <h3 class="p-1">{{ site.Params.author.name }}</h3>
      {{ if .designation }}
      <h5 class="p-1">
        {{ .designation }}
        {{ if .company }}
          op <a href="{{ .company.url }}">{{ .company.name }}</a>
        {{ end }}
      </h5>
      {{ end }}
      <p class="p-1 text-justify">
        {{ .summary | markdownify }}
      </p>
  </div>
</div>
